@import url('./publick.css');
@import url('../static//icont/video/iconfont.css');

.container {
  position: relative;
}

.loginContainer {
  margin: 100px auto;
  width: 820px;
  height: 470px;
  background-color: #fff;
  display: flex;
  border-radius: 20px;
  transform: scale(1.2);
}
/* 登录背景图片 */
.loginContainer .loginBg {
  width: 410px;
  margin-top: 25%;
  transform: translateY(-50%);
}
.loginContainer .loginBg img {
  width: 400px;
  height: 300px;
}
/* 登录表单 */
.loginContainer .registerForm {
  width: 410px;
  margin-top: 40px;
  text-align: center;
  transition: all .3s ease;
  display: none;
  opacity: 0;
}

.registerForm .registerTitle {
  font-size: 18px;
  font-weight: 500;
}
.registerForm .registerDesc {
  font-size: 15px;
  color: var(--theme-smText-color);
  margin: 10px 0 24px 0;
}

/* 处理表单数据 */

.registerForm .form {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  padding: 0 55px;
}
.registerForm .form input {
  width: 300px;
  height: 44px;
  margin-bottom: 20px;
  border-radius: 8px;
  outline: none;
  border: none;
  border: 1px solid rgba(12, 13, 15, 1);
  padding-left: 15px;
}
.registerForm .form .radio {
  cursor: pointer;
  text-align: left;
}

.registerForm .form .btn {
  display: block;
  text-align: center;
  height: 44px;
  line-height: 44px;
  color: #fff;
  background: var(--theme-bg-color);
  border-radius: 8px;
  margin-top: 30px;
}

.registerForm .form .loginFun {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--theme-smText-color);
}
.registerForm .form .loginFun span {
  cursor: pointer;
}

/* 登录面板 */
.loginContainer .login {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  opacity: 1;
  /* display: none; */
}